{

  "prompt": {
    "variables": {
      "user_name": "aicastle",
      "pdf_file": {
        "type": "input_file",
        "file_id": "file-............"
      },
      "image_file": {
        "type": "input_image",
        "file_id": "file-............"
      }
    }
  },

  "tools": [
    {
      "type": "mcp",
      "allowed_tools": [
        "list_messages",
        "get_message", 
        "send_message"
      ],
      "headers": null,
      "require_approval": "always",
      "server_description": null,
      "server_label": "gmail",
      "server_url": "https://............"
    }
  ]

}